---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <p><img src="/assets/photo2.jpg" alt="Smiley face" style="float:right;width:142px;height:180px;">
    I am a PhD candidate in economics at <a href="https://uclouvain.be/en/research-institutes/lidam/ires">UCLouvain</a> under the supervision of William Pariente. 
  I am also a research fellow of the <a href="https://wid.world/fr/world-inequality-lab-fr/"> World Inequality Lab.</a>
  </p>
  <p>I mostly work on tax, administration and inequality in sub-Saharan African countries.</p>
  <p>You can contact me at <a class="u-email" href="mailto:{{ site.email }}">{{ site.email | escape -}}</a>
  , and find me on twitter at <a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}">@Leo_Czajka</a>
  </p>

  <!-- {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%} -->


</div>
